nav .brand-logo.center {
  left: 20%;
  position: relative;
  padding: 0px 1.5em 0em 0em;
}

nav ul a {
  padding: 0em 0.3em 0em 0.3em;
}

.carousel {
  height: 200px;
  top: 0px;
}

.collapsible-body {
  padding: 0rem;
}

.card .card-reveal {
  padding-top: 0px;
}

.card .card-action {
  border-top: 0px;
}

.card .card-image img {
  height: -webkit-fill-available;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card .card-image .card-title {
  padding: 0rem 0rem 0.4rem 0.5rem;
}

.card .card-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.card .card-content .card-title {
  line-height: -1px;
  margin-bottom: -10px;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #1976d2;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #1976d2;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #90caf9;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1976d2;
  -webkit-box-shadow: 0 1px 0 0 #1976d2;
          box-shadow: 0 1px 0 0 #1976d2;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1976d2;
  -webkit-box-shadow: 0 1px 0 0 #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1976d2;
  -webkit-box-shadow: 0 1px 0 0 #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

@font-face {
  font-family: 'tribalcaseregular';
  src: url("../../fonts/tribalcase-lblz-webfont.woff") format("woff"), url("../../fonts/tribalcase-lblz-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quesha';
  src: url("../../fonts/quesha.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.logo__name {
  font-family: 'tribalcaseregular';
  font-size: 1.3rem;
}

.logo__description {
  font-family: 'quesha';
  font-size: 1.6rem;
}

.profile-pic {
  width: 40px;
  margin-left: 10px;
}

.feedback-table {
  width: 70;
}

.car__discount {
  font-family: 'quesha';
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.new-item {
  width: 43px;
  height: 43px;
  background: #1976d2;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 1.3rem;
  line-height: 45px;
  cursor: pointer;
}

.chart {
  height: 300px;
  width: 100%;
}

.stats-panel__weekly-customers {
  width: 40%;
}

.stats-panel__items-sold {
  width: 20%;
}

.stats-panel__customer-feedback {
  width: 35%;
}

.stats-panel__app-users {
  width: 22%;
}

.boldfeedback {
  font-weight: bold;
}

/* This is so the preloader appears in the middle of the screen */
.loader {
  position: absolute;
  top: 40%;
  left: 47%;
}

.copyright__attributions__counters {
  background: #bbdefb;
  text-align: center;
  margin: 0em 0em 0.8em 0em;
  font-family: "quesha";
  font-size: 2rem;
  counter-reset: counter-name;
  border-radius: 3px;
}

.copyright__attributions__counters__new-attribution {
  position: relative;
  padding: 0em 0em 0em 1.7em;
  font-size: 1rem;
}

.copyright__attributions__counters__new-attribution::before {
  counter-increment: counter-name;
  content: counter(counter-name);
  position: absolute;
  left: 0em;
  top: 0.2em;
  width: 1.8em;
  height: 1.8em;
  font-size: 0.7rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bbdefb;
  border: 1px solid #1976d2;
  color: #1976d2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.copyright__attributions__counters__list {
  margin: 0em 0em 0em 3em;
  text-indent: -1em;
}

.copyright__attributions__counters__reference-list {
  line-height: 2em;
  text-indent: -5em;
  padding: 0em 0em 0em 6em;
}

.copyright__attributions__counters__reference-list__italicized-title {
  font-style: italic;
}
/*# sourceMappingURL=app.css.map */