// Files should be imported according to the folder they live in, one after the other in the following order:

// abstracts/ should not output a single line of CSS when compiled on its own. _variables.scss_mixins.scss_functions.scss_placeholders.scss
// vendors/ CodePen and web snippets _normalize.scss_bootstrap.scss_jquery-ui.scss
// base/ _base.scss_reset.scss_typography.scss
// layout/ _grid.scss_header.scss_footer.scss_sidebar.scss_forms.scss_navigation.scss
// components/ _media.scss_carousel.scss_thumbnails.scss
// pages/ _home.scss_contact.scss
// themes/ _theme.scss_admin.scss

// abstracts

// vendors

// vendors-extentions
@import './vendors-extensions/materialize';

// base
@import './base/typography';

// layout

// components
@import './components/logo';
@import './components/profile-pic';
@import './components/feedback-table';
@import './components/carousel';
@import './components/new-item';

// pages

// themes

/* This is so the preloader appears in the middle of the screen */
.loader {
  position: absolute;
  top: 40%;
  left: 47%;
}

