// The client wanted the app to have subtle hints of the shop's brand.
// The logo does this so it is reused many times in the app.

.logo {
  &__name {
    font-family: 'tribalcaseregular';
    font-size: 1.3rem;
  }

  &__description {
    font-family: 'quesha';
    font-size: 1.6rem;
  }
}